@{
    ViewBag.title = "About";
}
<h2>@ViewBag.title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br/>
<br />
@Html.ActionLink("Test push job to Viktors mobil", "TestPushJobToViktor", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push project to Viktors mobil", "TestPushProjectToViktor", "Jobs")
<br />
<br />
@Html.ActionLink("Test push job to Nadia", "TestPushJobToNadia", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push project to Nadia", "TestPushProjectToNadia", "Jobs")
<br/>
<br />
@Html.ActionLink("Fjern IK-Start Stilling", "RemoveTrainerJob", "Jobs")
<br />
<br />
@Html.ActionLink("Legg til IK-Start Stilling", "InsertTrenerJobb", "Jobs")
<br />
<br />
@Html.ActionLink("Test push to All", "TestPushToAll", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push job to All", "TestPushJobToAll", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push project to All", "TestPushProjectToAll", "Jobs")
<br />
<br />
@Html.ActionLink("Populate db", "PopulateDb", "Jobs")

