@{
    ViewBag.title = "About";
}
<h2>@ViewBag.title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br/>
<br />
@Html.ActionLink("Test push to Viktor", "TestPushToViktor", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push to All", "TestPushToAll", "Jobs")
<br />
<br />
@Html.ActionLink("Populate db", "PopulateDb", "Jobs")

