@{
    ViewBag.title = "About";
}
<h2>@ViewBag.title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br/>
<br />
@Html.ActionLink("Test push job to Viktors mobil", "TestPushJobToViktor", "Jobs")
<br />
<br/>
@Html.ActionLink("Test push project to Viktors mobil", "TestPushProjectToViktor", "Jobs")
<br />
<br />
@Html.ActionLink("Test push to Nadia", "TestPushToNadia", "Jobs")
<br />
<br />
@Html.ActionLink("Test push to All", "TestPushToAll", "Jobs")
<br />
<br/>
<br />
<br />
@Html.ActionLink("Populate db", "PopulateDb", "Jobs")

