@model IEnumerable<KompetansetorgetServer.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webpage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkedInProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stepsToApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.webpage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedInProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stepsToApply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uuid }) |
            @Html.ActionLink("Details", "Details", new { id=item.uuid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uuid })
        </td>
    </tr>
}

</table>
